# Environnements virtuels
venv/
.venv/
env/
.env

# Fichiers générés par Python
__pycache__
*.py[cod]
*.pyo
*.pyd
*.egg
*.egg-info/
dist/
build/

# Fichiers d'outils Python
.mypy_cache/
.pytest_cache/
.tox/
.coverage
htmlcov/

# Jupyter Notebook
.ipynb_checkpoints/

# Fichiers système
Thumbs.db
.DS_Store

# Fichiers d'IDE
.vscode/
.idea/
backend/secret/serviceAccountKey.json